[Unit]
  Description=Keeper Autofan (by Mevlutov)
  
[Service]
  ExecStart=/usr/bin/python3 -u /home/onrig/keeperAutoFan.py
  Type=idle
  KillMode=process
 
  SyslogIdentifier=keeper-fan
  SyslogFacility=daemon
 
  Restart=on-failure
 
[Install]
  WantedBy=multiuser.target